################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FindFox/.vs/FindFox/v16/Server/sqlite3
